.inputWrap{
    width: 100%;
    height: 42px;
    border: 1px solid #989FAD;
    border-radius: 8px;
    outline: none;
    display: flex;
    align-items: center;
    padding: 0px 6px;
    gap: 10px;
    box-sizing: border-box;
}

.inputWrap input:-webkit-autofill{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
  }